@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v17-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/raleway-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/raleway-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/raleway-v17-latin-700.woff2") format("woff2"),
    url("../fonts/raleway-v17-latin-700.woff") format("woff");
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1B2330;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */

.button {
  display: inline-block;
  border: none;
  padding: 16px 81px;
  border-radius: 24px;
  background-color: #63E1D9;
  background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
}

.button-block {
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* SITENAV */

.sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  font-family: "Raleway", "Open Sans", "Arial", sans-serif;
}

.sitenav-item + .sitenav-item {
  margin-left: 24px;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sitenav-link {
  text-decoration: none;
  color: #fff;
}

.sitenav-link:hover {
  color: #62E0D9;
}

/* LOGO */

.logo-img {
  display: block;
}

/* HERO */

.hero {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "Raleway", "Open Sans", "Arial", sans-serif;
  font-size: 24px;
}

.hero-img {
  order: -1;
  margin-bottom: 33px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

/* FEATURES */

.features {
  padding: 100px 0;
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.feature::before {
  display: block;
  height: 80px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  content: "";
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.feature:not(:last-child) {
  margin-bottom: 80px;
}

.feature-everywhere::before {
  background-image: url("../img/feature-everywhere.png");
}

.feature-security::before {
  background-image: url("../img/feature-security.png");
}

.feature-collab::before {
  background-image: url("../img/feature-collab.png");
}

.feature-types::before {
  background-image: url("../img/feature-types.png");
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

  .feature-everywhere::before {
    background-image: url("../img/feature-everywhere@2x.png");
  }

  .feature-security::before {
    background-image: url("../img/feature-security@2x.png");
  }

  .feature-collab::before {
    background-image: url("../img/feature-collab@2x.png");
  }

  .feature-types::before {
    background-image: url("../img/feature-types@2x.png");
  }

}

.feature-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Raleway", "Open Sans", "Arial", sans-serif;
}

.feature-text {
  margin: 0;
}

/* PRODUCTIVITY */

.productivity {
  padding: 60px 0;
}

.productivity-img {
  width: 304px;
  height: 229px;
}

.productivity-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Raleway", "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.productivity-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.productivity-link {
  display: inline-flex;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #62E0D9;
  color: #62E0D9;
  text-decoration: none;
}

.productivity-link::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  border-radius: 50%;
  content: "";
  background-image: url("../img/icon-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 0px 2px rgba(98, 224, 217, 0.811141);
}

/* REVIEWS */

.reviews {
  padding: 100px 0;
}

.reviews-list {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews-list::before {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -9px;
  width: 32px;
  height: 50px;
  background-image: url("../img/blockquote.svg");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  content: "";
}

.review {
  padding: 24px 20px 20px;
  border-radius: 4px;
  background-color: #202A3C;
}

.review:not(:last-child) {
  padding: 24px 20px 20px;
  margin-bottom: 24px;
  border-radius: 4px;
  background-color: #202A3C;
}

.review-body {
  margin: 0;
  margin-bottom: 16px;
}

.review-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.review-person-img {
  margin-right: 8px;
}

.review-person-name {
  margin-top: 0;
  margin-bottom: 4px;
}

.review-person-position {
  margin: 0;
}

/* SIGNUP-FORM */

.signup {
  position: relative;
  z-index: 2;
  padding: 60px 0;
}

.signup-form {
  padding: 40px 28px;
  border-radius: 9px;
  background-color: #1B2330;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  text-align: center;
}

.signup-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.signup-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.signup-input-group {
  margin-bottom: 32px;
}

.signup-input {
  display: block;
  width: 100%;
  padding: 20px 30px;
  border: none;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
}

/* SITE-FOOTER */

.site-footer {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #0B1524;
}

.site-footer::before {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 240px;
  background-color: #0B1524;
  content: "";
}

.site-footer-logo {
  display: inline-flex;
  margin-bottom: 40px;
}

.site-footer-contacts {
  margin-bottom: 80px;
}

.site-footer-contacts-item {
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}

.site-footer-contacts-item::before {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}

.site-footer-contacts-item {
  margin-bottom: 16px;
}

.site-footer-contacts-item:last-child {
  margin-bottom: 0;
}

.site-footer-contacts-item-address {
  font-style: normal;
}

.site-footer-contacts-item-address::before {
  background-image: url("../img/place.svg");
}

.site-footer-contacts-item-phone::before {
  background-image: url("../img/phone-in-talk.svg");
}

.site-footer-contacts-item-email::before {
  background-image: url("../img/envelope.svg");
}

.site-footer-phone,
.site-footer-email {
  color: #fff;
  text-decoration: none;
}

.site-footer-nav {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style-type: none;
}

.site-footer-nav-item:not(:last-child) {
  margin-bottom: 16px;
}

.site-footer-nav-link {
  color: #fff;
  text-decoration: none;
}

/* SOCIALS */

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
