@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v17-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/raleway-v17-latin-regular.woff2") format("woff2"),
    url("../fonts/raleway-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/raleway-v17-latin-700.woff2") format("woff2"),
    url("../fonts/raleway-v17-latin-700.woff") format("woff");
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #1B2330;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITENAV */

.sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  font-family: "Raleway", "Open Sans", "Arial", sans-serif;
}

.sitenav-item + .sitenav-item {
  margin-left: 24px;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sitenav-link {
  text-decoration: none;
  color: #fff;
}

/* LOGO */

.logo-img {
  display: block;
}
